In [1]:
VCF = '../../school/seng474/project/simulated_cyp2d6_diplotypes/batch_12.vcf'
LABEL = '../../school/seng474/project/simulated_cyp2d6_diplotypes/batch_12.labels.csv'
ANNOTATIONS = './data/gvcf2seq.annotation_embeddings.csv'
EMBEDDINGS = './data/embeddings.txt'
REF = './data/ref.seq'

In [2]:
import encode_first_step

In [3]:
encoding = encode_first_step.FirstStep2Seq(vcf=VCF, labels=LABEL, annotation_file=ANNOTATIONS, embedding_file=EMBEDDINGS, ref_seq=REF)

Ignored 317 variants out of 1406

In [6]:
encoding.X.shape

(500, 14868, 13)

In [4]:
import pandas as pd
import numpy as np

In [18]:
df = pd.DataFrame(np.concatenaencoding.X.reshape(500, 14868 * 13) + encoding.y)

In [20]:
df.tail()

,0,1,2,3,4,5,6,7,8,9,...,193274,193275,193276,193277,193278,193279,193280,193281,193282,193283
495,2.0,2.0,2.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,...,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0
496,2.0,2.0,2.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,...,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0
497,2.0,2.0,2.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,...,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0
498,2.0,2.0,2.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,...,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0
499,2.0,2.0,2.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,...,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0

In [11]:
a = np.array([[1,2,3], [1, 2, 3]])

In [12]:
np.savetxt("foo.csv", ready, delimiter=",")